<h1>アカウント登録</h1>
<p>簡単に登録できます。</p>
<%= form_with(model: @user, local: true) do |f| %>
  <%= f.text_field :name, placeholder: "名前"%>
  <%= f.email_field :email, placeholder: "メールアドレス"  %>
  <%= f.password_field :password, placeholder: "パスワード" %>
  <%= f.password_field :password_confirmation, placeholder: "パスワード(再確認)" %>
  <%= f.submit "アカウント登録" %>
<% end %>
